{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "no-debugger": 1,
    "object-curly-newline": 0,
    "arrow-body-style": 1,
    "no-unused-vars": 1,
    "max-len": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/destructuring-assignment": 0,
    "react/no-multi-comp": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": 0,
    "react/prefer-stateless-function": 0
  }
}
